# Copy this file to ".env" and adjust values
# cp .env.example .env (command to copy this file to .env)

DATABASE_URL=postgresql://postgres:YOUR-DB-PASSWORD-HERE@localhost:5432/product_compare_db
ALLOWED_ORIGINS=http://localhost:3000
SECRET_KEY=YOUR-SECRET-KEY-HERE
ENVIRONMENT=development
ADMIN_PASSWORD=YOUR-ADMIN-PASSWORD-HERE